.form-container {
  margin: 10% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008b8b;
  font-family: sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}
.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h2 {
  text-align: center;
}

.form-container input {
  margin-bottom: 3em;
  width: 50%;
  height: 25px;
  border-radius: 20px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form-container input:focus {
  border: 5px solid rgb(52, 146, 52);
  outline: none;
}

.form-container label {
  margin-bottom: 1em;
  text-align: left;
  font-size: 1.25rem;
}

.form-container button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  background-color: #8fbc8f;
  transition: all 0.2s ease-in-out;
}
.form-container button:hover {
  background-color: #008000;
  color: #ffffff;
}

.form-container span {
  color: #bd2323;
}
